body {
    background-color: black;
    color: lightgray;
    font-family: "Space Grotesk", sans-serif;
    margin-left: 10vw;
    margin-right: 10vw;
}

header,
main, footer {
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 80vw;
    padding: 2rem;
}

h1 {
    font-style: bold;
    font-size: x-large;
    border-bottom: 1px solid turquoise;
    outline-offset: 4px;
    padding-top: 20px;
}

p {
    width: 90%;
    font-size: large;
}

br {
    line-height: 10px;
}

a {
    color: lightgray;
    text-decoration: none;
}

a:link {
    color: lightgray;
}

a:visited {
    color: lightgray;
}

a:focus {
    color: lightgray;
}

a:hover {
    color: lightgray;
}

a:active {
    color: lightgray;
}

footer {
    margin-top: 5rem;
    border-top: 1px solid turquoise;
    position:absolute;
}

footer p {
    font-size: small;
}

#contact {
    font-size: medium
}




#front {
    font-size: xx-large;
    margin-left: 10vw;
    margin-top: 10vw;
    width: 50%;
    font-weight: bold;
    border-bottom: 0px;
}

#front c {
    color: turquoise;
    font-style: italic;
}

#nav {
    font-size: large;
    color: lightgray;
    font-weight: normal;
    display: flex;
    margin-left: -5vw;
    margin-top: 1vw;
}

.button a {
    height: 2vw;
    text-align: center;
    padding: 60px;
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 200px;
    min-width: 100px;
    display: block;
}

.button a:hover {
    font-weight: bold;
    background-color: #101010;
}

#pastWork {
    display: flex;
    flex-direction: row;
    max-width: 80vw;
    overflow: auto;
    flex-wrap: wrap;
    gap: 2vw;
}

#pastWork img {
    max-width: 80vw;
    width: 320px;
    height: 180px;
}

.title {
    font-weight: bold;
    font-size: large;
}

.description {
    font-size: medium;
}


